apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgres-appstore-backend
  labels:
    role: postgres
    app: postgres-appstore-backend
    component: postgres
    release: {{ .Release.Name }}
spec:
  replicas: 1
  serviceName: postgres-appstore-backend
  selector:
    matchLabels:
      app: postgres-appstore-backend
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        role: postgres
        app: postgres-appstore-backend
        release: {{ .Release.Name }}
    spec:
      securityContext:
      {{- include "cytomine.podSecurityContext" . | nindent 8 }}
      volumes:
        - name: temp
          emptyDir: {}
        {{ if not .Values.postgresql.storageClassName -}}
        - emptyDir: {}
          name: appstore-postgres-storage
        {{ end }}
      initContainers:
        - name: postgis-init
          image: alpine:3.18
          securityContext:
          {{- include "cytomine.containerSecurityContext" . | nindent 12 }}
          volumeMounts:
          - name: appstore-postgres-storage
            mountPath: "/var/lib/postgresql/"
          command:
            - /bin/sh
            - -c
            - >
              set -x;
              mkdir -p /var/lib/postgresql/data;
              chown -R {{ .Values.containerSecurity.userID }} /var/lib/postgresql/data && chmod og-rwx /var/lib/postgresql/data;
      containers:
        - name: postgres
          image: {{ .Values.postgresql.image }}
          securityContext:
          {{- include "cytomine.containerSecurityContext" . | nindent 12 }}
          volumeMounts:
          - name: appstore-postgres-storage
            mountPath: "/var/lib/postgresql/data"
            subPath: data
          - name: appstore-postgres-storage
            mountPath: "/var/lib/postgresql"
          - name: temp
            mountPath: /var/run
          - name: temp
            mountPath: /tmp
          env:
          - name: POSTGRES_USER
            value: {{ .Values.postgresql.user }}
          - name: POSTGRES_DB
            value: {{ .Values.postgresql.database }}
          - name: POSTGRES_PASSWORD
            valueFrom:
              secretKeyRef:
                name: postgres-appstore-backend-secret
                key: password
          ports:
            - name: postgres
              containerPort: {{ .Values.postgresql.port }}
              protocol: TCP
  {{ if .Values.postgresql.storageClassName -}}
  volumeClaimTemplates:
    - metadata:
        name: appstore-postgres-storage
      spec:
        storageClassName: {{ .Values.postgresql.storageClassName }}
        accessModes:
        - ReadWriteOnce
        resources:
          requests:
            storage: {{ .Values.postgresql.storage }}
  {{ end }}
