appstore_backend:
  port: 8080
  image: cytomine/app-store-backend:latest
  registry_url: http://registry.container-registry.svc.cluster.local

appstore_frontend:
  port: 9090
  image: cytomine/app-store-frontend:latest

postgresql:
  storageClassName: null
  image: postgres:17
  user: appstore
  database: appstore
  port: 5432
  storage: 10G

global:
  domainName:

containerSecurity:
  allowPrivilegeEscalation: false  # do not allow the container to switch to a user with more permissions
  privileged: false  # the container is not privileged (usually the default)
  readOnlyRootFilesystem: true  # the container does not write to the root filesystem
  userID: 20000
  groupID: 20000
  fsgroupID: 20000

# Fix volumes permissions
# will be removed soon, do not use for newly created environments
fixVolumesPermissions: false

ingress:
  annotations:
    cert-manager.io/issuer: letsencrypt
    nginx.ingress.kubernetes.io/configuration-snippet: |
      chunked_transfer_encoding off;
    nginx.ingress.kubernetes.io/cors-allow-credentials: "true"
    nginx.ingress.kubernetes.io/cors-allow-headers: DNT,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range,Authorization,dateFull,content-type-full,content-MD5
    nginx.ingress.kubernetes.io/cors-allow-methods: "PUT, GET, POST, DELETE, OPTIONS"
    nginx.ingress.kubernetes.io/cors-allow-origin: {{ .Values.global.domainName }}
    nginx.ingress.kubernetes.io/enable-access-log: "true"
    nginx.ingress.kubernetes.io/enable-cors: "true"
    nginx.ingress.kubernetes.io/enable-error-log: "true"
    nginx.ingress.kubernetes.io/proxy-body-size: "0"
    nginx.ingress.kubernetes.io/use-regex: "true"
    nginx.org/client-max-body-size: "0"

    nginx.org/proxy-connect-timeout: 3600s
    nginx.org/proxy-read-timeout: 3600s
    nginx.org/proxy-send-timeout: 3600s
    nginx.org/server-snippets: |
      chunked_transfer_encoding off;
