appstore_backend:
  port: 8080
  image: cytomine/app-store-backend:latest
  registry_url: http://registry.container-registry.svc.cluster.local

appstore_frontend:
  port: 80  # not configurable for now
  image: cytomine/app-store-frontend:latest

postgresql:
  storageClassName: null
  image: postgres:17
  user: appstore
  database: appstore
  port: 5432
  storage: 10G

global:
  domainName:

containerSecurity:
  allowPrivilegeEscalation: false  # do not allow the container to switch to a user with more permissions
  privileged: false  # the container is not privileged (usually the default)
  readOnlyRootFilesystem: true  # the container does not write to the root filesystem
  userID: 20000
  groupID: 20000
  fsgroupID: 20000
