name: Docker

on:
  pull_request:

jobs:
  build-push-docker:
    runs-on: self-hosted

    strategy:
      fail-fast: true
      matrix:
        image:
          - backend
          - frontend

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Cytomine registry
        uses: docker/login-action@v3
        with:
          registry: registry.cytomine.org
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: ./${{ matrix.image }}
          file: ./${{ matrix.image }}/Dockerfile
          push: true
          tags: registry.cytomine.org/cytomine/app-store-${{ matrix.image }}
          labels: latest
